@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-v15-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/manrope-v15-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v15-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/manrope-v15-latin-800.woff2") format("woff2");
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  background-color: #1c1c1c;
}
body::-webkit-scrollbar {
  border: 50%;
  width: 5px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #ddd;
  outline: 1px solid transparent;
  border-radius: 50px;
}

.navbar-shrink {
  padding: 16px 0;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
  background-color: #1c1c1c;
}

header {
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  padding: 32px 0;
  transition: 0.3s;
  background-color: transparent;
  z-index: 99;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar_logo img {
  max-width: 106px;
}
header .navbar_links {
  display: flex;
  align-items: center;
  gap: 36px;
}
header .navbar_links a {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.3;
  color: #fff;
}
header .navbar_links a:hover {
  opacity: 0.8;
}
header .navbar_links_lng {
  padding: 8px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3019607843);
  line-height: 20px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
header .navbar_links_lng span {
  color: #fff;
}
header .navbar_links .close_menu {
  display: none;
}
header .navbar_menu {
  display: none;
}

#myBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  padding: 12px 4px;
  border-radius: 28px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
  header .navbar_links {
    gap: 24px;
  }
}
@media screen and (max-width: 576px) {
  header .navbar_links {
    position: absolute;
    left: 101%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/menu_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    align-items: flex-start;
    background-size: cover;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    padding: 20px;
  }
  header .navbar_links a {
    color: #000;
    opacity: 1;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.5019607843);
  }
  header .navbar_links a:hover {
    opacity: 0.8;
  }
  header .navbar_links_lng {
    display: none;
  }
  header .navbar_links .close_menu {
    display: flex;
    position: absolute;
    right: 15px;
    top: 28px;
  }
  header .navbar_links .close_menu img {
    width: 32px;
    height: 32px;
  }
  header .navbar_menu {
    display: flex;
  }
  #myBtn {
    bottom: 15px;
    right: 15px;
    padding: 8px 4px;
  }
  #myBtn img {
    width: 32px;
    height: 32px;
  }
}
.hero_bg_img {
  margin-top: 160px;
  background-image: url(../assets/images/Rectangle\ 11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 415px;
  width: 100%;
}
.hero_bg_img .boglanish {
  position: relative;
}
.hero_bg_img .boglanish_btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: -20px;
  left: 0;
  gap: 32px;
}
.hero_bg_img .boglanish_btn button {
  display: flex;
  cursor: pointer;
  padding: 8px 10px;
  align-items: center;
  border-radius: 30px;
  line-height: 24px;
  font-size: 16px;
  border: none;
  gap: 8px;
}
.hero_bg_img .boglanish_btn_blue {
  background-color: #0040DD;
  color: #fff;
}
.hero_bg_img .boglanish_btn_white {
  background-color: #fff;
}

.services {
  width: 100%;
  background: #1C1C1E;
  color: #fff;
  overflow-x: auto;
}

.services_navbar {
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 55px;
  padding: 20px 65px;
  line-height: 75px;
  padding-bottom: 30px;
}

.services_main {
  display: inline-flex;
  overflow: scroll;
  white-space: nowrap;
}

.services_item {
  width: 406px;
  height: 509px;
  border: 0.5px solid #fff;
  border-right: 0.2px solid #fff;
  background-image: url(../../assets/images/backgroundservice.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services_item_bg {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  white-space: wrap;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  transition: all 0.6s ease-in-out;
}
.services_item_bg p {
  width: 300px;
}
.services_item_bg:hover {
  background-color: transparent;
}

.partfolio__bg {
  background-image: linear-gradient(90deg, rgb(142, 99, 106) 35%, rgb(28, 28, 30) 100%);
}
.partfolio__bg .partfolio__main-box {
  padding: 80px 0px;
}
.partfolio__bg .parfolio__hover-box div, .partfolio__bg .partfolio__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partfolio__bg .partfolio__wrapper {
  flex-wrap: wrap;
}
.partfolio__bg .partfolio__title {
  font-size: 55px;
  color: #fff;
  margin-left: 5px;
  margin-bottom: 30px;
}
.partfolio__bg .partfolio__innerside {
  flex-basis: calc(50% - 10px);
  max-width: 50%;
  margin: 3px;
  border: 1px solid rgb(154, 139, 139);
  border-radius: 9px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.partfolio__bg .partfolio__innerside img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1);
  display: block;
}
.partfolio__bg .parfolio__hover-box {
  background: rgba(255, 255, 255, 0.09);
  -webkit-backdrop-filter: blur(0.1px);
          backdrop-filter: blur(0.1px);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 100%;
}
.partfolio__bg .partfolio__innerside:hover .parfolio__hover-box {
  opacity: 1;
}
.partfolio__bg .parfolio__hover-box div {
  background-color: transparent;
  position: fixed;
  bottom: 20px;
  padding: 15px 10px;
  width: 96%;
  justify-content: space-between;
  border-radius: 40px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.7s ease, transform 0.7s ease;
  background-color: #5d5d5d;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 1000;
  margin: 0 auto;
  background: rgba(93, 93, 93, 0.3);
  backdrop-filter: blur(20px);
  margin-left: 12px;
}
.partfolio__bg .partfolio__innerside:hover .parfolio__hover-box div {
  opacity: 1;
  transform: translateY(0);
}
.partfolio__bg .parfolio__hover-box h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0px 10px;
}
.partfolio__bg .parfolio__hover-box button {
  color: white;
  background-color: transparent;
  padding: 5px 10px;
  line-height: 25px;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  border: 2px solid white;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 20px;
}
.partfolio__bg .parfolio__hover-box button:hover {
  background-color: yellow;
  color: black;
  border-color: white;
}
.partfolio__bg .parfolio__hover-box button:hover i {
  transition: all 0.4s ease-in-out;
  border-color: black;
}
.partfolio__bg .parfolio__hover-box button:hover {
  background-color: #ddd;
}
.partfolio__bg .right__button-vector {
  padding: 3px 5px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 3px;
  transition: 0s;
}
.partfolio__bg .partfolio__description {
  background-image: url("../../assets/images/partfolioImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  height: 400px;
  margin-bottom: 40px;
}
.partfolio__bg .partfolio__description-wrapper {
  max-width: 1129px;
  padding-bottom: 80px;
}
.partfolio__bg .partfolio__description-wrapper p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.partfolio__bg .partfolio__description-wrapper button {
  border-radius: 20px;
  background-color: #0040DD;
  color: white;
  padding: 5px 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-weight: 600;
}
.partfolio__bg .partfolio__description-wrapper button:hover {
  background-color: transparent;
  border-color: white;
}
.partfolio__bg .partfolio__description-wrapper button i {
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .partfolio__bg .partfolio__innerside {
    flex-basis: 100%;
    margin-bottom: 15px;
    max-width: 100%;
  }
  .partfolio__bg .partfolio__description {
    background-size: cover;
    background-position: center;
  }
  .partfolio__bg .partfolio__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .partfolio__bg .parfolio__hover-box div {
    padding: 7px;
    margin-left: 7px;
    bottom: 7px;
  }
  .partfolio__bg .parfolio__hover-box h2 {
    font-size: 14px;
  }
  .partfolio__bg .parfolio__hover-box button {
    font-size: 10px;
    padding: 2px 5px;
    margin-right: -1px;
  }
}
@media screen and (max-width: 378px) {
  .partfolio__bg .partfolio__innerside {
    flex-basis: 100%;
    max-width: 100%;
  }
  .partfolio__bg .partfolio__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .partfolio__bg .parfolio__hover-box div {
    padding: 7px;
    margin: 0 auto;
    margin-left: 7px;
    bottom: 7px;
  }
  .partfolio__bg .parfolio__hover-box h2 {
    font-size: 12px;
  }
  .partfolio__bg .parfolio__hover-box button {
    font-size: 10px;
    padding: 2px 5px;
    margin-right: -1px;
  }
}

/* Container for the image carousel */
.image-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

/* Each individual image in the carousel */
.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

/* Buttons for navigation */
#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}

#prev-btn:hover,
#next-btn:hover {
  background-color: #0056b3;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3019607843);
  padding: 70px 0;
}
footer .footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}
footer .footer_left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 52px;
}
footer .footer_left form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
footer .footer_left form p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  opacity: 0.3;
}
footer .footer_left form input {
  width: 340px;
  border: none;
  color: #FFFFFF;
  outline: none;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}
footer .footer_left form button {
  border: none;
  display: flex;
  cursor: pointer;
  padding: 8px 10px;
  align-items: center;
  background-color: #0040DD;
  border-radius: 30px;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  gap: 8px;
}
footer .footer_left > p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
footer .footer_right {
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
}
footer .footer_right ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 170px;
  gap: 12px;
}
footer .footer_right ul p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.3;
}
footer .footer_right ul li {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: #fff;
}
footer .footer_right ul li a {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

@media screen and (max-width: 678px) {
  footer .footer {
    max-width: 460px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  footer .footer_left {
    order: 2;
  }
}/*# sourceMappingURL=styles.css.map */