@mixin brand-button() {
  color: white;
  background-color: transparent;
  padding: 5px 10px;
  line-height: 25px;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  border: 2px solid white;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 20px;

  &:hover {
    background-color: yellow;
    color: black;
    border-color: white;

    & i{
      transition: all 0.4s ease-in-out;
      border-color: black;
    }
  }
}

@mixin header-links() {
  font-weight: 700;
  color: $header-links-color;
  line-height: 25px;
  font-size: 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.6s ease-in-out;

  &:hover {
    border-bottom: 2px solid $logo-color;
    transition: all 0.6s ease-in-out;
    background-color: transparent;
  }
}
