@mixin brand-button() {
  color: white;
  background-color: transparent;
  padding: 5px 10px;
  line-height: 25px;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  border: 2px solid white;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 20px;

  &:hover {
    background-color: transparent;
    color: black;
    border-color: white;

    & i{
      transition: all 0.4s ease-in-out;
      border-color: black;
    }
  }
}

@mixin partolio-btn() {
   
    border-radius: 20px; 
    background-color: #0040DD;
    color: white; 
    padding: 5px 10px; 
    border: 2px solid transparent; 
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-weight: 600; 

&:hover {
    background-color: transparent; 
    border-color: white; 

}

& i {
    border-radius: 50%; 
    border: 1px solid white; 
    padding: 5px; 
}


 
}
