.image-container {
    display: flex;
    overflow: hidden;
    position: relative;
}

.about__main-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0px;
}

.row__div img{
    width: 100px;
    height: 300px;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.image-container img {
    width: 800px;
    height: 300px;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.buttons__div{
    width: 300px;
    align-items: center;
    margin: 0 auto;
    
}

#prev-btn,
#next-btn {
    bottom: -280px;
    transform: translateY(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}

#prev-btn:hover,
#next-btn:hover {
    background-color: #0056b3;
}
