*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.services{
    width: 100%;
    background: #1C1C1E;
;
}
.services_navbar{
    width: 100%;
    color: #fff;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 55px;
    padding: 20px 65px;
}